<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"  src="../../assets/Samsung.jpg" data-holder-rendered="true">
            <div class="card-body">
              <h5 class="ng-binding">Motorola XOOM™ with Wi-Fi</h5>
              <div class="d-flex justify-content-between align-items-center">
                <p class="ng-binding">The Next, Next Generation Experience the future with Motorola XOOM with Wi-Fi, the world's first tablet powered by Android 3.0 (Honeycomb).</p>
              </div>
              <h3 class="price ng-binding">$249.99</h3>
            </div>
          </div>
        </div>
        
  </div>